*{
  padding:0; margin:0;
  box-sizing: border-box;
}
ul,li{
  list-style: none;
}
button{
  background-color:transparent;
  border-style: none;
  cursor: pointer;
  color:rgb(65, 65, 65);
}
body{
  background-image: url("pink-yellow.jpeg");
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;
  height:100vh;
}
.block{
  background-color: rgba(255, 255, 255);
  color:black;
  width : 375px;
  height:667px;
  border-radius: 25px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  box-shadow: 5px 5px 20px 5px rgb(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}
.top{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 25px 25px 0 0;
  background: rgb(255,196,214);
background: linear-gradient(90deg, rgba(255,196,214,0.5118733509234829) 30%, rgba(255,217,208,0.4432717678100264) 50%, rgba(255,252,205,0.45646437994722955) 90%);
}
.top__title{
  padding-left: 10px;
  font-weight: 700;
  font-size: 25px;
}
.top__counter{
  font-weight: 500;
  font-size: 15px;
  width:35px;
  height:35px;
  line-height: 35px;
  color:white;
  text-align: center;
  background-color: #ffa9bc;
  border-radius: 50%;
}
.list{
  margin: 15px 0;
  flex-basis:80%;
  margin-bottom: 10px;
  overflow-y: auto;
}
.list__empty{
  will-change: opacity;
  position:relative;
  top:50%;
  transform: translateY(-50%);
  text-align: center;
  color:rgba(156, 156, 156);
}
.list__items{
  height: 100%;
  position: relative;
  top: -28px;
}
.item__row{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 8px 8px 8px 18px;
  padding: 15px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}
.item__content{
  width:90%;
  font-size: 14px;
  font-weight: 500;
}
.item__delete{
  position: relative;
  width:30px;
  height: 30px;
  margin-left: 10px;
  font-weight: 600;
  background-color: rgb(253, 228, 188);
  border-radius: 50%;
  color:white;
  transition: all 0.3s;
}
.item__delete:hover{
  transform:rotate(180deg) scale(1.2);
  background-color: rgb(255, 204, 123);
}
.bottom{
  background: rgb(255,252,205);
background: linear-gradient(3deg, rgba(255,252,205,0.45646437994722955) 17%, rgba(255,217,208,0.4432717678100264) 50%, rgba(255,196,214,0.5118733509234829) 100%);
  display: flex;
  flex-direction: column;
  padding:10px;
  flex-basis: fit-content;
  border-radius: 0 0 25px 25px;
}
.bottom__input{
  padding: 10px;
  margin:10px 15px 5px 15px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
}
.bottom__input:focus{
  outline-style:solid;
  outline-color: rgba(128, 128, 128);
}
.bottom__add{
  width:40px;
  height: 40px;
  font-size:20px;
  background-color: rgb(255,196,214,0.9);
  color:white;
  border-radius: 50%;
  align-self: center;
  transition: all 0.3s;
}
.bottom__add:hover{
  transform:rotate(360deg) scale(1.1);
  background-color: rgb(255, 157, 186);
}