*{
  box-sizing: border-box;
  padding:0; margin:0;
  font-family: 'Gemunu Libre', sans-serif;
}
body{
  height:100vh;
  background-color: black;
}
button{
  background-color: transparent;
  cursor: pointer;
  border-style: none;
}
button:hover{
  transform: scale(1.1);
}
.hidden{
  visibility:hidden;
}
.game{
  width:800px;
  height: 450px;
  background: center / contain no-repeat url("./img/background.png");
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.header{
  height:40%;
  margin: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color:#ffffff;
}
.header__timer{
  width:180px;
  text-align: center;
  font-size:3em;
  font-weight: 600;
  padding: 6px 0;
  background-color: rgba(175, 158, 127, 0.8);
  border-radius: 40px;
  border:thick solid rgb(141, 141, 141);
}
.header__remaining,
.pause, .resume{
  font-size:2em;
  font-weight: 600;
  width:60px;
  height:60px;
  line-height: 60px;
  text-align: center;
  background-color: rgba(255, 99, 71,0.9);
  border-radius: 50%;
  color:white;
}
.pause .fas, .resume .fas,
.result__replay .fas{
  font-size:0.9em;
  color:white;
}
.field{
  height:60%;
}
.field__items{
  height:100%;
}
.field__items>img{
  position: absolute;
}
.field__result{
  will-change: visibility;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color: rgb(0,0,0,0.75);
  color:#ffffff;
  text-align: center;
  font-size: 2em;
  border-radius: 40px;
  width:500px;
  height:250px;
}
.result__replay,
.intro__play{
  font-size: 1.8em;
}
.intro{
  will-change: visibility;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color: rgba(255, 156, 91, 0.9);
  text-align: center;
  font-size: 2em;
  border-radius: 40px;
  width:600px;
  height:300px;
}